@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form enctype="multipart/form-data" method="post" asp-action="ParseFile">

        <div>
            <input type="file" id="file" name="file"/>
            <br />
            <input type="submit" value="Upload" />

            @ViewBag.Message
        </div>
    </form>
</div>
